$base-color:#1e1e2e
$mantle-color:#181825
$crust-color:#11111b
$text-color:#cdd6f4

html
    font-size: 10px

body
    font-size: 1.6rem
    background-color: $base-color
    color: $text-color

header
    background-color: $crust-color

footer
    background-color: $crust-color