$base-color:#303446
$mantle-color:#292c3c
$crust-color:#232634
$text-color:#c6d0f5

html
    font-size: 10px

body
    font-size: 1.6rem
    background-color: $base-color
    color: $text-color

header
    background-color: $crust-color

footer
    background-color: $crust-color