$base-color:#24273a
$mantle-color:#1e2030
$crust-color:#181926
$text-color:#cad3f5

html
    font-size: 10px

body
    font-size: 1.6rem
    background-color: $base-color
    color: $text-color

header
    background-color: $crust-color

footer
    background-color: $crust-color