$base:#303446
$mantle:#292c3c
$crust:#232634
$text:#c6d0f5
$text-dark:#4c4f69
$surface0:#414559
$surface1:#45475a
$overlay0:#6c7086
$yellow:#e5c890
$yellow-active:#f0e0c0



html
    font-size: 10px

body
    font-size: 1.6rem
    background-color: $base
    color: $text

main
    min-width: 20rem
    max-width: 30rem
    margin: auto
    padding: 0.8rem
    background-color: $surface0
    display: flex
    flex-direction: column
    border-radius: 0.8rem
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.12);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.12); 

button
    width: 4.8rem
    height: 4.8rem
    background-color: $mantle
    color: $text
    border: none
    border-radius: 0.8rem

    &:active
        background-color: $overlay0

header
    background-color: $crust

footer
    background-color: $crust

.display
    min-height: 7rem
    padding-bottom: 0.8rem
    display: flex

    &__input
        border-radius: 0.8rem
        width: 100%
        flex-grow: 1
        box-sizing: border-box
        background-color: $crust
        border: 0.2rem solid $overlay0
        color: $text
        font-size: 2.4rem
        padding: 0 0.8rem


%side-panel
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    row-gap: 0.4rem

.keypad
    display: flex
    justify-content: space-around
    gap: 1.2rem
    aside
        display: flex
        flex-direction: column


    &__numbers
        max-width: 60%
        display: flex
        flex-flow: row-reverse wrap
        justify-content: space-around
        align-content: space-around
        row-gap: 0.4rem

    &__operators
        @extend %side-panel
        margin-bottom: 0.8rem

    &__controls
        @extend %side-panel
    
    &__button
        width: 4.8rem
        height: 4.8rem
        background-color: $mantle
        color: $text
        border: none
        border-radius: 0.8rem

        &:active
            background-color: $overlay0

        &--filled
            background-color: $yellow
            color: $text-dark
            font-weight: 600

            &:active
                background-color: $yellow-active
        

    


            